@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

@font-face {
  font-family: "Nasalization";
  src: url("/fonts/NasalizationRg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), system-ui;
}

.codeblock pre {
  padding: 16px;
}